* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background-color: #000; /* black background */
  color: #fff;
  overflow-x: hidden;
}


html {
  scroll-behavior: smooth;
}
